@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #E8C92B; /* Cambia este valor al color que desees */
  color: #fff; /* Cambia este valor al color del texto seleccionado */
}

/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background-color: #E8C92B11; 
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 8px; /* Borde redondeado del pulgar */
}


::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}
